#1. Import Libraries

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from google.colab import files
import io

In [84]:
pd.__version__

'1.0.3'

#2. Read Data
ใช้ Data จาก https://www.kaggle.com/c/titanic/data <br>
เอาทั้ง Train และ Test มาต่อกัน

In [2]:
Source = files.upload()

Saving train.csv to train.csv

In [3]:
#Quiz1
Data = pd.read_csv(io.StringIO(Source['train.csv'].decode('utf-8')), index_col=0) #เอา PassengerID เป็น Column เพราะไม่ได้ใช้ และเลขมันเรียงกันอยู่แล้ว
Data

             Survived  Pclass  ... Cabin Embarked
PassengerId                    ...
1                   0       3  ...   NaN        S
2                   1       1  ...   C85        C
3                   1       3  ...   NaN        S
4                   1       1  ...  C123        S
5                   0       3  ...   NaN        S
...               ...     ...  ...   ...      ...
887                 0       2  ...   NaN        S
888                 1       1  ...   B42        S
889                 0       3  ...   NaN        S
890                 1       1  ...  C148        C
891                 0       3  ...   NaN        Q

[891 rows x 11 columns]

In [4]:
#Quiz2
print(Data.head(10))
print(Data.tail(10))
print(Data.sample(10))

             Survived  Pclass  ... Cabin Embarked
PassengerId                    ...
1                   0       3  ...   NaN        S
2                   1       1  ...   C85        C
3                   1       3  ...   NaN        S
4                   1       1  ...  C123        S
5                   0       3  ...   NaN        S
6                   0       3  ...   NaN        Q
7                   0       1  ...   E46        S
8                   0       3  ...   NaN        S
9                   1       3  ...   NaN        S
10                  1       2  ...   NaN        C

[10 rows x 11 columns]
             Survived  Pclass  ... Cabin Embarked
PassengerId                    ...
882                 0       3  ...   NaN        S
883                 0       3  ...   NaN        S
884                 0       2  ...   NaN        S
885                 0       3  ...   NaN        S
886                 0       3  ...   NaN        Q
887                 0       2  ...   NaN        S
888                 1       1  ...   B42        S
889                 0       3  ...   NaN        S
890                 1       1  ...  C148        C
891                 0       3  ...   NaN        Q

[10 rows x 11 columns]
             Survived  Pclass  ... Cabin Embarked
PassengerId                    ...
462                 0       3  ...   NaN        S
310                 1       1  ...   E36        C
189                 0       3  ...   NaN        Q
720                 0       3  ...   NaN        S
75                  1       3  ...   NaN        S
791                 0       3  ...   NaN        Q
394                 1       1  ...   D36        C
251                 0       3  ...   NaN        S
725                 1       1  ...    E8        S
612                 0       3  ...   NaN        S

[10 rows x 11 columns]

In [0]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    1309 non-null   int64
 1   Name      1309 non-null   object
 2   Sex       1309 non-null   object
 3   Age       1046 non-null   float64
 4   SibSp     1309 non-null   int64
 5   Parch     1309 non-null   int64
 6   Ticket    1309 non-null   object
 7   Fare      1308 non-null   float64
 8   Cabin     295 non-null    object
 9   Embarked  1307 non-null   object
 10  Survived  891 non-null    float64
dtypes: float64(3), int64(3), object(5)
memory usage: 122.7+ KB

##2.1 Data Exploration
เริ่มจากดูแบ่งข้อมูลเป็นแบบตัวเลขและตัวอักษร เพื่อดูตัวที่ผิดแปลก

In [0]:
Data['Sex'].unique()
#Column 'Sex' ไม่มีตัวแปลก

array(['male', 'female'], dtype=object)

In [0]:
Data['Age'].unique()
#Column 'Age' มีค่า Nan ใน Csv เป็นการเว้นว่าง ไม่ได้ใส่

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  , 22.5 ,
       18.5 , 67.  , 76.  , 26.5 , 60.5 , 11.5 ,  0.33,  0.17, 38.5 ])

In [0]:
Data['SibSp'].unique()
#Column 'Sibling & Spouse' ไม่มีตัวแปลก

array([1, 0, 3, 4, 2, 5, 8])

In [0]:
Data['Parch'].unique()
#Column 'Parent & Children' ไม่มีตัวแปลก

array([0, 1, 2, 5, 3, 4, 6, 9])

In [0]:
Data['Fare'].unique()
#Column 'Fare' มีค่า Nan ใน Csv เป็นการเว้นว่าง

array([  7.25  ,  71.2833,   7.925 ,  53.1   ,   8.05  ,   8.4583,
        51.8625,  21.075 ,  11.1333,  30.0708,  16.7   ,  26.55  ,
        31.275 ,   7.8542,  16.    ,  29.125 ,  13.    ,  18.    ,
         7.225 ,  26.    ,   8.0292,  35.5   ,  31.3875, 263.    ,
         7.8792,   7.8958,  27.7208, 146.5208,   7.75  ,  10.5   ,
        82.1708,  52.    ,   7.2292,  11.2417,   9.475 ,  21.    ,
        41.5792,  15.5   ,  21.6792,  17.8   ,  39.6875,   7.8   ,
        76.7292,  61.9792,  27.75  ,  46.9   ,  80.    ,  83.475 ,
        27.9   ,  15.2458,   8.1583,   8.6625,  73.5   ,  14.4542,
        56.4958,   7.65  ,  29.    ,  12.475 ,   9.    ,   9.5   ,
         7.7875,  47.1   ,  15.85  ,  34.375 ,  61.175 ,  20.575 ,
        34.6542,  63.3583,  23.    ,  77.2875,   8.6542,   7.775 ,
        24.15  ,   9.825 ,  14.4583, 247.5208,   7.1417,  22.3583,
         6.975 ,   7.05  ,  14.5   ,  15.0458,  26.2833,   9.2167,
        79.2   ,   6.75  ,  11.5   ,  36.75  ,   7.7958,  12.525 ,
        66.6   ,   7.3125,  61.3792,   7.7333,  69.55  ,  16.1   ,
        15.75  ,  20.525 ,  55.    ,  25.925 ,  33.5   ,  30.6958,
        25.4667,  28.7125,   0.    ,  15.05  ,  39.    ,  22.025 ,
        50.    ,   8.4042,   6.4958,  10.4625,  18.7875,  31.    ,
       113.275 ,  27.    ,  76.2917,  90.    ,   9.35  ,  13.5   ,
         7.55  ,  26.25  ,  12.275 ,   7.125 ,  52.5542,  20.2125,
        86.5   , 512.3292,  79.65  , 153.4625, 135.6333,  19.5   ,
        29.7   ,  77.9583,  20.25  ,  78.85  ,  91.0792,  12.875 ,
         8.85  , 151.55  ,  30.5   ,  23.25  ,  12.35  , 110.8833,
       108.9   ,  24.    ,  56.9292,  83.1583, 262.375 ,  14.    ,
       164.8667, 134.5   ,   6.2375,  57.9792,  28.5   , 133.65  ,
        15.9   ,   9.225 ,  35.    ,  75.25  ,  69.3   ,  55.4417,
       211.5   ,   4.0125, 227.525 ,  15.7417,   7.7292,  12.    ,
       120.    ,  12.65  ,  18.75  ,   6.8583,  32.5   ,   7.875 ,
        14.4   ,  55.9   ,   8.1125,  81.8583,  19.2583,  19.9667,
        89.1042,  38.5   ,   7.725 ,  13.7917,   9.8375,   7.0458,
         7.5208,  12.2875,   9.5875,  49.5042,  78.2667,  15.1   ,
         7.6292,  22.525 ,  26.2875,  59.4   ,   7.4958,  34.0208,
        93.5   , 221.7792, 106.425 ,  49.5   ,  71.    ,  13.8625,
         7.8292,  39.6   ,  17.4   ,  51.4792,  26.3875,  30.    ,
        40.125 ,   8.7125,  15.    ,  33.    ,  42.4   ,  15.55  ,
        65.    ,  32.3208,   7.0542,   8.4333,  25.5875,   9.8417,
         8.1375,  10.1708, 211.3375,  57.    ,  13.4167,   7.7417,
         9.4833,   7.7375,   8.3625,  23.45  ,  25.9292,   8.6833,
         8.5167,   7.8875,  37.0042,   6.45  ,   6.95  ,   8.3   ,
         6.4375,  39.4   ,  14.1083,  13.8583,  50.4958,   5.    ,
         9.8458,  10.5167,   7.    ,   9.6875,  82.2667,   3.1708,
        31.6833,  31.5   ,  57.75  ,   7.85  ,  60.    ,  15.0333,
        15.5792,  28.5375,  25.7   ,  10.7083,  13.9   ,   7.8208,
         7.7792,  31.6792,   7.2833,  75.2417,      nan,  12.1833,
        13.775 ,   8.9625,  25.7417,  42.5   ,  27.4458, 136.7792,
         9.325 ,  12.7375,  45.5   ,   7.575 ,   7.5792,   7.7208])

In [0]:
Data['Cabin'].unique()
#Column 'Cabin' มีค่า Nan ใน Csv เป็นค่าว่าง ที่เยอะมาก แต่มันต้องไม่ซ้ำกันถ้าตัด Row ออกจะทำให้เหลือ Data น้อย เราตัด Column นี้ออกง่ายกว่า

KeyError: ignored

In [0]:
Data['Embarked'].unique()
#Column 'Embarked' มีค่า Nan ใน Csv เป็นค่าว่าง อยู่ประมาณ 3 Rows เดี๋ยวตัด Rows ออก

array(['S', 'C', 'Q', nan], dtype=object)

#3. Data Cleaning

In [0]:
# Data = pd.read_csv(io.StringIO(Source['Train&Test_TitanicDataForMachineLearning.csv'].decode('utf-8')),
#                    usecols=[0, 2, 3, 4, 5, 7, 8, 10, 11],
#                    index_col=0,
#                    na_values=['']) #เอา PassengerID เป็น Column เพราะไม่ได้ใช้ และเลขมันเรียงกันอยู่แล้ว
# Data

NameError: ignored

In [5]:
#Quiz3
Data.dropna(subset=['Embarked'], inplace=True)
Data

             Survived  Pclass  ... Cabin Embarked
PassengerId                    ...
1                   0       3  ...   NaN        S
2                   1       1  ...   C85        C
3                   1       3  ...   NaN        S
4                   1       1  ...  C123        S
5                   0       3  ...   NaN        S
...               ...     ...  ...   ...      ...
887                 0       2  ...   NaN        S
888                 1       1  ...   B42        S
889                 0       3  ...   NaN        S
890                 1       1  ...  C148        C
891                 0       3  ...   NaN        Q

[889 rows x 11 columns]

In [6]:
avg = Data['Age'].mean()
print(f'ค่าเฉลี่ย = {avg} แต่จุดทศนิยมมันเยอะเลยปัดให้เป็น {round(avg, 0)}')

ค่าเฉลี่ย = 29.64209269662921 แต่จุดทศนิยมมันเยอะเลยปัดให้เป็น 30.0

In [7]:
#Quiz4
Data['Age'].fillna(value=round(avg, 0))

PassengerId
1      22.0
2      38.0
3      26.0
4      35.0
5      35.0
       ...
887    27.0
888    19.0
889    30.0
890    26.0
891    32.0
Name: Age, Length: 889, dtype: float64

In [8]:
#Quiz5
Data['Age'].fillna(value=0)

PassengerId
1      22.0
2      38.0
3      26.0
4      35.0
5      35.0
       ...
887    27.0
888    19.0
889     0.0
890    26.0
891    32.0
Name: Age, Length: 889, dtype: float64

In [9]:
#Quiz6
Data.dropna(axis=0, subset=['Age'])

             Survived  Pclass  ... Cabin Embarked
PassengerId                    ...
1                   0       3  ...   NaN        S
2                   1       1  ...   C85        C
3                   1       3  ...   NaN        S
4                   1       1  ...  C123        S
5                   0       3  ...   NaN        S
...               ...     ...  ...   ...      ...
886                 0       3  ...   NaN        Q
887                 0       2  ...   NaN        S
888                 1       1  ...   B42        S
890                 1       1  ...  C148        C
891                 0       3  ...   NaN        Q

[712 rows x 11 columns]

In [10]:
#Quiz7 #ใช้ Numpy มาช่วย
N_Female= Data[Data['Sex'] == 'female'].shape[0]
N_Male = Data[Data['Sex'] == 'male'].shape[0]

print(f'จำนวนผู้หญิงบนเรือ = {N_Female} คน')
print(f'จำนวนผู้ชายบนเรือ = {N_Male} คน')
print(f'จำนวนผู้หญิงต่อผู้ชายบนเรือ = {N_Female} / {N_Male} คน = {round((N_Female / N_Male*100), 2)}%')

จำนวนผู้หญิงบนเรือ = 312 คน
จำนวนผู้ชายบนเรือ = 577 คน
จำนวนผู้หญิงต่อผู้ชายบนเรือ = 312 / 577 คน = 54.07%

In [0]:
Data['Sex'].value_counts()

male      577
female    312
Name: Sex, dtype: int64

In [11]:
#Quiz8
Data[(Data['Sex'] == 'female') & (Data['Survived'] == 1)].count()
#ผู้หญิงที่รอดชีวิต = 231 คน

Survived    231
Pclass      231
Name        231
Sex         231
Age         195
SibSp       231
Parch       231
Ticket      231
Fare        231
Cabin        89
Embarked    231
dtype: int64

In [12]:
Data[(Data['Sex'] == 'male') & (Data['Survived'] == 1)].count()
#จำนวนผู้ชายที่รอดชีวิต = 109 คน

Survived    109
Pclass      109
Name        109
Sex         109
Age          93
SibSp       109
Parch       109
Ticket      109
Fare        109
Cabin        45
Embarked    109
dtype: int64

In [13]:
#Quiz9
print(f'จำนวนการรอดชีวิตของผู้หญิง = {round((231 / N_Female) * 100, 2)}%')
print(f'จำนวนการรอดชีวิตจองผู้ชาย = {round((109 / N_Male) * 100, 2)}%')

จำนวนการรอดชีวิตของผู้หญิง = 74.04%
จำนวนการรอดชีวิตจองผู้ชาย = 18.89%

In [14]:
#Quiz10 ใช้ .replace
Data['Sex'].replace({'female': 0,
                     'male': 1}, inplace=True)
Data

             Survived  Pclass  ... Cabin  Embarked
PassengerId                    ...
1                   0       3  ...   NaN         S
2                   1       1  ...   C85         C
3                   1       3  ...   NaN         S
4                   1       1  ...  C123         S
5                   0       3  ...   NaN         S
...               ...     ...  ...   ...       ...
887                 0       2  ...   NaN         S
888                 1       1  ...   B42         S
889                 0       3  ...   NaN         S
890                 1       1  ...  C148         C
891                 0       3  ...   NaN         Q

[889 rows x 11 columns]

In [15]:
#Quiz11
Data[Data['Age'] == Data['Age'].max()]

             Survived  Pclass  ... Cabin  Embarked
PassengerId                    ...
631                 1       1  ...   A23         S

[1 rows x 11 columns]

In [16]:
#Quiz12
Data[Data['Age'] == Data['Age'].min()]
print('ไม่สามารถบอกว่ารอดชีวิตไหมเพราะเป็นคนที่อยู่ใน Test Set')

ไม่สามารถบอกว่ารอดชีวิตไหมเพราะเป็นคนที่อยู่ใน Test Set

In [17]:
#Quiz13
Data[Data['Fare'] == Data['Fare'].max()]

             Survived  Pclass  ...        Cabin  Embarked
PassengerId                    ...
259                 1       1  ...          NaN         C
680                 1       1  ...  B51 B53 B55         C
738                 1       1  ...         B101         C

[3 rows x 11 columns]

In [18]:
#Quiz14
Data[Data['Fare'] == Data['Fare'].min()]

             Survived  Pclass  ... Cabin  Embarked
PassengerId                    ...
180                 0       3  ...   NaN         S
264                 0       1  ...   B94         S
272                 1       3  ...   NaN         S
278                 0       2  ...   NaN         S
303                 0       3  ...   NaN         S
414                 0       2  ...   NaN         S
467                 0       2  ...   NaN         S
482                 0       2  ...   NaN         S
598                 0       3  ...   NaN         S
634                 0       1  ...   NaN         S
675                 0       2  ...   NaN         S
733                 0       2  ...   NaN         S
807                 0       1  ...   A36         S
816                 0       1  ...  B102         S
823                 0       1  ...   NaN         S

[15 rows x 11 columns]

In [19]:
#Quiz15
N_P1 = Data[Data['Pclass'] == 1].shape[0]
N_P2 = Data[Data['Pclass'] == 2].shape[0]
N_P3 = Data[Data['Pclass'] == 3].shape[0]
print(f'คนนั่งตั๋ว 1 มี {N_P1} คน\nคนนั่งตั๋ว 2 มี {N_P2} คน\nคนนั่งตั๋ว 3 มี {N_P3} คน\nรวม = {np.sum([N_P1, N_P2, N_P3])} คน')

คนนั่งตั๋ว 1 มี 214 คน
คนนั่งตั๋ว 2 มี 184 คน
คนนั่งตั๋ว 3 มี 491 คน
รวม = 889 คน

In [20]:
#Quiz16
avg1 = Data['Fare'][Data['Pclass'] == 1].mean()
avg2 = Data['Fare'][Data['Pclass'] == 2].mean()
avg3 = Data['Fare'][Data['Pclass'] == 3].mean()

avgfare = Data['Fare'].mean()

print(f'ราคาเฉลี่ยตั๋วโดยสารแบบ 1 = {round(avg1, 2)}')
print(f'ราคาเฉลี่ยตั๋วโดยสารแบบ 2 = {round(avg2, 2)}')
print(f'ราคาเฉลี่ยตั๋วโดยสารแบบ 3 = {round(avg3, 2)}')

print(f'ราคาเฉลี่ยตั๋วโดยสาร = {round(avgfare, 2)}')

ราคาเฉลี่ยตั๋วโดยสารแบบ 1 = 84.19
ราคาเฉลี่ยตั๋วโดยสารแบบ 2 = 20.66
ราคาเฉลี่ยตั๋วโดยสารแบบ 3 = 13.68
ราคาเฉลี่ยตั๋วโดยสาร = 32.1

In [21]:
#Quiz17
Data[(Data['Age'] > 50) & (Data['Survived'] == 1)].shape[0]

21

In [22]:
#Quiz18
Data['Pclass'].describe()

count    889.000000
mean       2.311586
std        0.834700
min        1.000000
25%        2.000000
50%        3.000000
75%        3.000000
max        3.000000
Name: Pclass, dtype: float64

In [23]:
#Quiz19
MP1 = Data['Fare'][Data['Pclass'] == 1].max()
MP2 = Data['Fare'][Data['Pclass'] == 2].max()
MP3 = Data['Fare'][Data['Pclass'] == 3].max()

print(f'ค่าตั๋วที่แพงที่สุดของชั้น 1 = {MP1}')
print(f'ค่าตั๋วที่แพงที่สุดของชั้น 2 = {MP2}')
print(f'ค่าตั๋วที่แพงที่สุดของชั้น 3 = {MP3}')

ค่าตั๋วที่แพงที่สุดของชั้น 1 = 512.3292
ค่าตั๋วที่แพงที่สุดของชั้น 2 = 73.5
ค่าตั๋วที่แพงที่สุดของชั้น 3 = 69.55

In [52]:
#Quiz20 #https://phyblas.hinaboshi.com/yancham16 เอาวิธีการมาจากเว็บนี้
sep = pd.cut(Data['Age'], bins=[0, 10, 20, 30, 40, 50, 60, 70, 80])
Data['Survived'].groupby(sep, as_index=True).describe()

          count      mean       std  min  25%  50%  75%  max
Age
(0, 10]    64.0  0.593750  0.495015  0.0  0.0  1.0  1.0  1.0
(10, 20]  115.0  0.382609  0.488151  0.0  0.0  0.0  1.0  1.0
(20, 30]  230.0  0.365217  0.482541  0.0  0.0  0.0  1.0  1.0
(30, 40]  154.0  0.441558  0.498193  0.0  0.0  0.0  1.0  1.0
(40, 50]   86.0  0.383721  0.489143  0.0  0.0  0.0  1.0  1.0
(50, 60]   42.0  0.404762  0.496796  0.0  0.0  0.0  1.0  1.0
(60, 70]   16.0  0.187500  0.403113  0.0  0.0  0.0  0.0  1.0
(70, 80]    5.0  0.200000  0.447214  0.0  0.0  0.0  0.0  1.0

In [93]:
#Quiz 20 ใช้ข้อมูลจาก Link นี้ https://www.youtube.com/watch?v=W9NzO7iLVbY&list=PLoTScYm9O0GFVfRk_MmZt0vQXNIi36LUz&index=75&app=desktop
age_cat = ['0-10', '11-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80', '81+'] #แบ่งกลุ่มก่อน
Data['Age_Group'] = pd.cut(Data.Age,
                           bins=[0, 10, 20, 30, 40, 50, 60, 70, 80, np.Inf],
                           labels=age_cat,
                           right=True,
                           include_lowest=True) #สร้าง Column ใหม่ ง่ายกว่า
Data[Data['Survived'] == 1].groupby('Age_Group').describe()

          Survived                 ...      Fare
             count mean  std  min  ...       25%       50%        75%       max
Age_Group                          ...
0-10          38.0  1.0  0.0  1.0  ...  15.90000  21.30000  30.790625  151.5500
11-20         44.0  1.0  0.0  1.0  ...   8.04480  13.72710  57.244800  262.3750
21-30         84.0  1.0  0.0  1.0  ...  10.25000  20.12915  55.705225  263.0000
31-40         68.0  1.0  0.0  1.0  ...  17.01250  31.19375  84.231250  512.3292
41-50         33.0  1.0  0.0  1.0  ...  25.92920  27.72080  76.729200  247.5208
51-60         17.0  1.0  0.0  1.0  ...  30.50000  75.25000  79.200000  153.4625
61-70          3.0  1.0  0.0  1.0  ...  10.04375  10.50000  44.229150   77.9583
71-80          1.0  1.0  NaN  1.0  ...  30.00000  30.00000  30.000000   30.0000
81+            0.0  NaN  NaN  NaN  ...       NaN       NaN        NaN       NaN

[9 rows x 56 columns]

In [91]:
Data

             Survived  Pclass  ... Embarked  Age_Group
PassengerId                    ...
1                   0       3  ...        S      21-30
2                   1       1  ...        C      31-40
3                   1       3  ...        S      21-30
4                   1       1  ...        S      31-40
5                   0       3  ...        S      31-40
...               ...     ...  ...      ...        ...
887                 0       2  ...        S      21-30
888                 1       1  ...        S      11-20
889                 0       3  ...        S        NaN
890                 1       1  ...        C      21-30
891                 0       3  ...        Q      31-40

[889 rows x 12 columns]

In [53]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Name      889 non-null    object
 3   Sex       889 non-null    int64
 4   Age       712 non-null    float64
 5   SibSp     889 non-null    int64
 6   Parch     889 non-null    int64
 7   Ticket    889 non-null    object
 8   Fare      889 non-null    float64
 9   Cabin     202 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 123.3+ KB

In [58]:
#Quiz21
Data['Fare'].sort_values(ascending=False)

PassengerId
259    512.3292
680    512.3292
738    512.3292
89     263.0000
342    263.0000
         ...
278      0.0000
634      0.0000
303      0.0000
598      0.0000
272      0.0000
Name: Fare, Length: 889, dtype: float64

In [60]:
Data['Fare'].sort_values(ascending=True)

PassengerId
272      0.0000
598      0.0000
303      0.0000
634      0.0000
278      0.0000
         ...
342    263.0000
89     263.0000
738    512.3292
680    512.3292
259    512.3292
Name: Fare, Length: 889, dtype: float64

In [95]:
#22
Data.rename(columns={'Sex': 'Gender'}, inplace=True)
Data

             Survived  Pclass  ... Embarked  Age_Group
PassengerId                    ...
1                   0       3  ...        S      21-30
2                   1       1  ...        C      31-40
3                   1       3  ...        S      21-30
4                   1       1  ...        S      31-40
5                   0       3  ...        S      31-40
...               ...     ...  ...      ...        ...
887                 0       2  ...        S      21-30
888                 1       1  ...        S      11-20
889                 0       3  ...        S        NaN
890                 1       1  ...        C      21-30
891                 0       3  ...        Q      31-40

[889 rows x 12 columns]